<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>page-header</title>
</head>
<body>
    <div class="container">
        <header class="page-header">
            <div class="logotype">
                <a class="logotype__link" href="#">
                    <img class="logotype__img" src="../Images/logotype.png" alt="Логотип сайта">
                </a>
            </div>
            <nav class="page-navigation">
                <ul class="page-navigation__list">
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Обувь</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Новинки</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Мужчинам</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Женщинам</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Детям</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">SALE</a></li>
                    <li class="page-navigation__item"><a href="#" class="page-navigation__link">Блог</a></li>
                </ul>
            </nav>
            <div class="user-navigation">
                <ul class="user-navigation__list">
                    <li class="user-navigation__item">
                        <a href="#" class="user-navigation__link"><img src="../Icons/user.png" alt="" class="user-navigation__icon">Войти</a>
                    </li>
                    <li class="user-navigation__item">
                        <a href="#" class="user-navigation__link"><img src="../Icons/heart.png" alt="" class="user-navigation__icon">Избранное</a>
                    </li>
                    <li class="user-navigation__item">
                        <a href="#" class="user-navigation__link"><img src="../Icons/cart.png" alt="" class="user-navigation__icon">Корзина</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <section class="sale"></section>
</body>
</html>